html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.btn {
    padding: 7px 15px 6px 15px;
    font-size: 12px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: "microsoft yahei";
}
.btn.theme {
    color: #fff;
    background-color: #6299E9;
}
.btn.btn-blue {
    padding: 6px 35px;
    font-size: 14px;
}
.error-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}
.error-wrap .error-container {
    width: 900px;
    height: 500px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.error-wrap .error-container .error-text {
    margin: 40px 0 20px 0;
    font-size: 14px;
}
.error-wrap .error-container .error-text > span {
    color: #A7A5A5;
}
.error-wrap .error-container .error-text > span > span {
    color: #F59D20!important;
}
.error-wrap .error-container a{
    text-decoration: none;
}
.error-wrap .error-container .error-text a{
    color: #666;
}