<ion-view>
    <ion-header-bar class="bar-theme">
        <div class="buttons">
            <a class="button" class="back-button" type="button" href="#home">返回</a>
        </div>
        <h1 class="title">button</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-title-divider">button默认大小</div>
            <div class="item">
                <button class="button button-theme">button-theme</button><br>
                <button class="button button-theme" disabled>disabled</button><br>
                <button class="button button-theme button-clear">button-clear</button><br>
                <button class="button button-theme button-outline">button-outline</button><br>
            </div>
            <div class="item item-title-divider">button高度为30px</div>
            <div class="item">
                <button class="button button-theme button-local">button-local</button><br>
                <button class="button button-theme button-local" disabled>button-local</button><br>
                <button class="button button-theme button-local button-clear">button-clear</button><br>
                <button class="button button-theme button-local button-outline">button-outline</button><br>
                <button class="button button-theme button-local icon-right">button-theme<i class="ion-arrow-down-b"></i></button><br>
                <button class="button button-theme button-local icon-left button-outline"><i class="ion-arrow-down-b"></i> button-outline</button><br>
            </div>
            <div class="item item-title-divider">
                特殊的添加按钮
            </div>
            <div class="item">
                <button class="button button-theme button-clear button-add-icon">
                    <i class="ion-plus-circled"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
