<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>popups</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-app="app">
<button id="btn" ng-click="bubble.open = true">打开气泡</button>
<bubble ng-if="bubble.open" for="btn" close="bubble.open=false">
    hello world
</bubble>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-popups/dist/angular-popups.js"></script>
<script>
    var app = angular.module('app', ['angular-popups']);
</script>
</body>
</html>