<ion-view>
    <ion-header-bar align-title="left" class="bar-theme">
        <h1 class="title">smesis移动端静态用例 - 吴海英</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-title-divider">
                bar-header
            </div>
            <a class="item item-default" href="#/header">
                header and subheader
            </a>
            <div class="item item-title-divider">
                新添文字颜色
            </div>
            <div class="item item-default">
                <div class="text-theme">text-theme</div>
                <div class="text-green">text-green</div>
                <div class="text-gray">text-gray</div>
                <div class="text-orange">text-orange</div>
                <div class="text-pink">text-pink</div>
                <div class="text-danger">text-danger</div>
            </div>
            <div class="item item-title-divider">
                header-dropdown
            </div>
            <a class="item item-default" href="#/header_dropdown">
                dropdown
            </a>
            <div class="item item-title-divider">
                tab
            </div>
            <a class="item item-default" href="#/tab">
                tab group
            </a>
            <div class="item item-title-divider">
                button
            </div>
            <a class="item item-default" href="#/button">
                button group
            </a>
            <div class="item item-title-divider">
                item-group
            </div>
            <a class="item item-default" href="#/list_item">
                item
            </a>
        </div>
    </ion-content>
</ion-view>

