<!--图片随外框自动缩放-->
<textarea class="h-light">
        页面路径：templates/img_resize_auto.html
</textarea>
<div>图片随外框铺满(纯js)</div><hr/>
<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img src="../../assets/images/bg1.jpg" onload="resize_img(this,100,150)" /></div>
<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img src="../../assets/images/bg2.jpg" onload="resize_img(this,100,150)" /></div>
<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img src="../../assets/images/bg3.jpg" onload="resize_img(this,100,150)" /></div>
<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img src="../../assets/images/bg4.jpg" onload="resize_img(this,100,150)" /></div>
<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img src="../../assets/images/female.png" onload="resize_img(this,100,150)" /></div>
<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img src="../../assets/images/main.png" onload="resize_img(this,100,150)" /></div>
<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img src="../../assets/images/my.jpg" onload="resize_img(this,100,150)" /></div>
<div>图片随外框铺满(angularjs)</div><hr/>
<div ng-controller="myCtrl">
    <div data-ng-init="load()">123</div>
    <button class="button" ng-click="click($event)">按钮</button>
    <div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img class="pic" src="../../assets/images/bg1.jpg" onload="resizeImgNew(this,100,150)" /></div>
    <!--<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img class="pic" src="../../assets/images/bg2.jpg" data-ng-init="resizeImgNew(this,100,150)" /></div>-->
    <!--<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img class="pic" src="../../assets/images/bg3.jpg" data-ng-init="resizeImgNew(this,100,150)" /></div>-->
    <!--<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img class="pic" src="../../assets/images/bg4.jpg" data-ng-init="resizeImgNew(this,100,150)" /></div>-->
    <!--<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img class="pic" src="../../assets/images/female.png" data-ng-init="resizeImgNew(this,100,150)" /></div>-->
    <!--<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img class="pic" src="../../assets/images/main.png" data-ng-init="resizeImgNew(this,100,150)" /></div>-->
    <!--<div style=" display:inline-block;width:100px; height:150px; position:relative; overflow:hidden; background:#996699;"><img class="pic" src="../../assets/images/my.jpg" data-ng-init="resizeImgNew(this,100,150)" /></div>-->
</div>
<script type="text/javascript">
    function resize_img(pic,w,h){//参数
        var re_new_size=function(r){
            //根据比率重新计算宽度
            return {w:pic.width/r,h:pic.height/r};
        };
        var re_offset=function(n){
            //根据新的宽高度返回偏移量
            return {off_l:(n.w-w)*0.5,off_t:(n.h-h)*0.5};
        };
        var re_position=function(o,n){
            //重新定位图片
            pic.style.cssText="position:absolute;top:"+-o.off_t+"px;left:"+-o.off_l+"px;width:"+n.w+"px;height:"+n.h+"px;";
        };
        var execute=function(rate){//总执行函数
            var new_size=re_new_size(rate),
                    offset_new=re_offset(new_size);
            re_position(offset_new,new_size);
        };

        //判断变量
        var rate_of_w=pic.width/w,
                rate_of_h=pic.height/h,
                rate;
        if(rate_of_w>=1){
            //图片宽度大于显示区域宽度
            if(rate_of_h>=1){
                //且图片高度大于显示区域高度
                rate=Math.min(rate_of_w,rate_of_h);
            }else{
                //图片高度小于显示区域
                rate=pic.height/h;
            }
        }else{
            //图片宽度小于显示区域宽度
            if(rate_of_h>=1){
                //且图片高度大于显示区域高度
                rate=pic.width/w;
            }else{
                //图片高度小于显示区域高度
                rate=Math.min(rate_of_w,rate_of_h);
            }
        }
        execute(rate);
        //执行入口
    }
</script>