<!--冒泡 提示框-->
<div ng-controller="myCtrl">
        <button class="btn btn-default " ui-bubble default-config="config">
            提示在上
        </button>
    <div class="btn btn-default" ui-bubble default-config="config1">提示在下</div>
    <button class="btn btn-default">提示在左</button>
    <button class="btn btn-default">提示在右</button>
    <!--<div class="ui-popup ui-popup-top ui-popup-anchor">-->
    <!--<div class="ui-bubble">-->
    <!--<div class="ui-bubble-content">-->
    <!--提示在上-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="ui-popup ui-popup-bottom ui-popup-anchor">-->
    <!--<div class="ui-bubble">-->
    <!--<div class="ui-bubble-content">-->
    <!--提示在下-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="ui-popup ui-popup-left ui-popup-anchor">-->
    <!--<div class="ui-bubble">-->
    <!--<div class="ui-bubble-content">-->
    <!--提示在左-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="ui-popup ui-popup-right ui-popup-anchor">-->
    <!--<div class="ui-bubble">-->
    <!--<div class="ui-bubble-content">-->
    <!--提示在右-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
<textarea class="h-light">
        <!--按钮组-->
        <button class="btn btn-theme">theme按钮</button>
    </textarea>

</div>

