<!--冒泡 提示框-->
<div ng-controller="myCtrl" style="margin-top: 200px;">
        <!--<button class="btn btn-default " ui-bubble default-config="config">-->
            <!--提示宽度很宽，左边内容不足，放右边-->
        <!--</button>-->
    <button class="btn btn-default"  ui-bubble default-config="config2">
        提示内容过高，且上方空间不足，默认展示在下方
    </button>
    <!--<button class="btn btn-default pull-right"  ui-bubble default-config="config">-->
        <!--提示宽度很宽，左边内容不足，放左边-->
    <!--</button>-->
    <div>
        <button class="btn" ng-click="clickFun()">这里面也是个点击事件</button>
    </div>
<textarea class="h-light">
        <!--按钮组-->
        <button class="btn btn-theme">theme按钮</button>
</textarea>
</div>

