<ion-view>
    <ion-header-bar align-title="left" class="bar-theme">
        <h1 class="title">smesis移动端静态用例 - 吴海英</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-title-divider">
                文字颜色
            </div>
            <div class="item item-default">
                <div class="text-theme">text-theme</div>
                <div class="text-green">text-green</div>
                <div class="text-gray">text-gray</div>
                <div class="text-orange">text-orange</div>
                <div class="text-pink">text-pink</div>
                <div class="text-danger">text-danger</div>
            </div>
            <div class="item item-title-divider">
                bar-header && bar-subheader
            </div>
            <a class="item item-default" href="#/header">
                头部和次头部
            </a>
            <div class="item item-title-divider">
                header-dropdown
            </div>
            <a class="item item-default" href="#/header_dropdown">
                头部下拉
            </a>
            <div class="item item-title-divider">
                page-dropdown
            </div>
            <a class="item item-default" href="#/page_dropdown">
                页面下拉
            </a>
            <div class="item item-title-divider">
                form
            </div>
            <a class="item item-default" href="#/form">
                表单
            </a>
            <div class="item item-title-divider">
                tab
            </div>
            <a class="item item-default" href="#/tab">
                标签页
            </a>
            <div class="item item-title-divider">
                button
            </div>
            <a class="item item-default" href="#/button">
                按钮组
            </a>
            <div class="item item-title-divider">
                item
            </div>
            <a class="item item-default" href="#/list_item">
                列表组
            </a>
            <div class="item item-title-divider">
                attachement
            </div>
            <a class="item item-default" href="#/attachment">
                附件
            </a>
            <div class="item item-title-divider">
                infinite_scrolling
            </div>
            <a class="item item-default text-overflow-two" href="#/infinite_scrolling_total">
                所有数据分页加载<span class="text-danger">(模拟数据40条，每页加载10条)</span></span>
            </a>
            <a class="item item-default text-overflow-two" href="#/infinite_scrolling_every">
                按页码加载<span class="text-danger">(模拟数据40条，每页加载10条)</span>
            </a>
            <div class="item item-title-divider">
                popup && loading
            </div>
            <a class="item item-default" href="#/popup">
                弹出框
            </a>
            <div class="item item-title-divider">
                angular方法自练习和测试
            </div>
            <a class="item item-default" href="#/angular_test">
                angular test 大集合
            </a>
        </div>
    </ion-content>
</ion-view>

