/**
** variable created by wuhaiying **
**/
.ui-bubble {
  position: relative;
  background: rgba(253, 248, 222, 0.9);
  border: 1px solid rgba(206, 157, 72, 0.7);
  color: #CD9C4F;
  outline: 0;
  border-radius: 3px;
}
.ui-bubble:before,
.ui-bubble:after {
  content: '';
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 5px dashed transparent;
}
.ui-popup-anchor .ui-bubble:before,
.ui-popup-anchor .ui-bubble:after {
  display: block;
}
.ui-popup-top .ui-bubble:before,
.ui-popup-bottom .ui-bubble:before,
.ui-popup-top .ui-bubble:after,
.ui-popup-bottom .ui-bubble:after {
  left: 10px;
  margin-left: -5px;
}
.ui-popup-top .ui-bubble:before {
  bottom: -10px;
  border-top: 5px solid #cd9c4f;
}
.ui-popup-top .ui-bubble:after {
  bottom: -9px;
  border-top: 5px solid #fdf8df;
}
.ui-popup-bottom .ui-bubble:before {
  top: -10px;
  border-bottom: 5px solid #cd9c4f;
}
.ui-popup-bottom .ui-bubble:after {
  top: -9px;
  border-bottom: 5px solid #fdf8df;
}
.ui-popup-left-top .ui-bubble:before,
.ui-popup-left-bottom .ui-bubble:before,
.ui-popup-right .ui-bubble:before,
.ui-popup-left-top .ui-bubble:after,
.ui-popup-left-bottom .ui-bubble:after,
.ui-popup-right .ui-bubble:after {
  margin-top: -5px;
}
.ui-popup-left-top .ui-bubble:before,
.ui-popup-left-top .ui-bubble:after {
  bottom: 2px;
}
.ui-popup-left-bottom .ui-bubble:before,
.ui-popup-left-bottom .ui-bubble:after {
  top: 8px;
}
.ui-popup-left-top .ui-bubble:before,
.ui-popup-left-bottom .ui-bubble:before {
  right: -10px;
  border-left: 5px solid #cd9c4f;
}
.ui-popup-left-top .ui-bubble:after,
.ui-popup-left-bottom .ui-bubble:after {
  right: -9px;
  border-left: 5px solid #fdf8df;
}
.ui-popup-right .ui-bubble:before,
.ui-popup-right .ui-bubble:after {
  top: 10px;
}
.ui-popup-right .ui-bubble:before {
  left: -10px;
  border-right: 5px solid #cd9c4f;
}
.ui-popup-right .ui-bubble:after {
  left: -9px;
  border-right: 5px solid #fdf8df;
}
.ui-bubble-content {
  padding: 5px;
}
