/*w-popover's parent*/
.w-popover-wrap {
  position: relative;
  /*����&����*/
  /*����&����*/
}
.w-popover-wrap.left-top .w-popover,
.w-popover-wrap.left-bottom .w-popover {
  left: initial;
  right: 100%;
}
.w-popover-wrap.right-top .w-popover,
.w-popover-wrap.right-bottom .w-popover {
  left: 100%;
}
.w-popover-wrap.left-top .w-popover,
.w-popover-wrap.right-top .w-popover {
  top: initial;
  bottom: 0;
}
.w-popover-wrap.left-bottom .w-popover,
.w-popover-wrap.right-bottom .w-popover {
  top: 0;
}
.w-popover-wrap .elemHover:hover > .w-popover {
  display: block;
}
/*w-popover*/
.w-popover {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1010;
  display: none;
  min-width: 100px;
  min-height: 35px;
  padding: 10px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.w-popover > .arrow,
.w-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.w-popover > .arrow {
  border-width: 11px;
}
.w-popover > .arrow:after {
  content: '';
  border-width: 10px;
}
.w-popover.left {
  margin-left: -10px;
}
.w-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.w-popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  border-right-width: 0;
  border-left-color: #fff;
}
.w-popover.right {
  margin-left: 0;
}
.w-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.w-popover.right > .arrow:after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}
.w-popover.top {
  margin-top: 10px;
}
.w-popover.top > .arrow {
  left: 50%;
  bottom: -11px;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
}
.w-popover.top > .arrow:after {
  left: -10px;
  bottom: 1px;
  border-bottom-width: 0;
  border-top-color: #fff;
}
.w-popover.bottom {
  margin-top: -10px;
}
.w-popover.bottom > .arrow {
  left: 50%;
  top: -11px;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.w-popover.bottom > .arrow:after {
  left: -10px;
  top: 1px;
  border-top-width: 0;
  border-bottom-color: #fff;
}
