* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
}
body.nobg {
  background-color: transparent;
}
.notetoself {
  margin: 100px auto 100px 100px;
}
.notetoself input[type="text"],
.notetoself select {
  height: 28px;
}
.notetoself input[type="text"]:focus,
.notetoself select:focus {
  outline: none;
}
.notetoself input[type="button"] {
  padding: 6px 10px;
}
.notetoself #stickies {
  margin-top: 100px;
  list-style: none;
}
.notetoself #stickies li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 15px;
  width: 100px;
  height: 150px;
}
