<!--瀑布流加载-->
<ion-view>
    <ion-header-bar class="bar-theme">
        <div class="buttons">
            <a class="button" class="back-button" type="button" href="#home">返回</a>
        </div>
        <h1 class="title">所有数据分页加载</h1>
    </ion-header-bar>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item class="item-title-divider">所有数据分页加载<span class="text-danger">(模拟数据40条，每页加载10条)</span></ion-item>
            <ion-item ng-repeat="item in items">
                <h2>{{item.id}}</h2>
                <p>{{item.value}}</p>
            </ion-item>
            <ion-item ng-if="!moreDataCanBeLoaded()">没有更多数据了</ion-item>
        </ion-list>
        <ion-infinite-scroll  ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()"  distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
